name: Build Windows EXE

on:
  workflow_dispatch:
    inputs:
      filename:
        description: 'name of .py file to build EXE from (e.g script)'
        required: true
        default: 'script'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build EXE
      run: |
        pyinstaller --onefile --add-binary "chromedriver.exe;." ${{ github.event.inputs.filename }}.py

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.inputs.filename }}
        path: dist/${{ github.event.inputs.filename }}.exe
